.container-fluid{
    /* background-image: url(../images/clouds.jpg); */
    background-color: black;
    background-size: 100%;
}

.row {
    height: 200px;
    text-align: center;
}

#game{
    height:400px;
}

/* #question-box{

} */

.timer{
    color: darkgrey;
}

.col-md-2{
    border: 2px solid white;
}

#title{
    font-size: 36px;
    text-align: center;
    height: 300px;
}

.start-btn{
    font-size: 24px;
    width: 400px;
}

.question{
    color: white;
    font-size: 18px;
}
.answers{
    color: white;
    font-size:14px;
}